  <!--  <div class = "hero" ></div> -->

<div class = "center">
  <div class = "forever_scroll">

      <!-- print out today's date -->

        <!-- <h1><%#= @todays_date %></h1> -->
        <h1>Upcoming Games:</h1>

      <!-- <div class = "gameinfo"> -->

        
        <!-- print out each broadcast (for today) -->
        <!-- title, time, like/unlike  -->
        <%# @todays_broadcasts.each do |broadcast| %>
          <!-- <h2><%#= broadcast.title %></h2> -->
          <!-- <h3><%#= broadcast.time%></h3> -->
          <!-- <button class="likebutton" id="<%#= broadcast.id %>" value="Broadcast" data-text-swap="Unlike">Like</button> -->
           
          <!-- print out each event for the broadcast -->
          <!-- venue name, blurb -->
          <%# broadcast.events.each do |event|%>  
            <%#=event.venue.name%>
            <%#=event.blurb%>
          <%# end %>
          
          <!-- <div class = "line"></div> -->
        <%# end %>

      <!-- </div> -->
      
   <!-- forever_scroll -->
  

  <script type="text/template" id="broadcastTemplate">

    <div class = "gametitle">
      <h2><a href="/search/teams?search_parameter=<%%= visitor_team.name %>"search_parameter=<%%=visitor_team.name %>><%%= visitor_team.name %></a> @ <a href="/search/teams?search_parameter=<%%= home_team.name %>"search_parameter=<%%=home_team.name %>><%%=home_team.name %></a></h2>
    </div>

    <div class="gamedate">
      <h3><%%= time %> | <%%= date_and_year %></h3>
    </div>
    
    <div class = "buttonlock">
      <% if current_user %>
       <% if current_user_a_venue? %>
          <a href="events/new?broadcast=<%%= id %>" class="createEvent" value="Event"><button class="likebutton"> Host</button></a>
        <% else %>  
          <button class="likebutton" id="<%%= id %>" value="Broadcast" data-text-swap="Unlike">Like</button>
        <% end %>
      <% end %>


    <div class="line"></div>

  </div>
</div>

  
  </script>


