html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.navigation{
  position:fixed;
  background-color: #2f2f2f;
  height: 50px;
  width: 20000px;
  top: 0px;
}

.navbar-link{
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  color: white;
  padding: 18px 0px 0px 0px;
  text-transform: uppercase;
}

.navbar-text{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  padding: 18px 0px 0px 35px;
}


.hero{
  height: 700px;
  color: white;
  background-image:url("hero_FPO.jpg");
  margin:0 auto;
}

.team_logo {
  max-width: 250px;
  max-height: 300px;
}

.venue_photo {
  width: 1280px;
  height: 450px;
}

.venue_photo img {
  width: 1280px;
  height: 550px;
  z-index: -1;
  position: absolute; 
  left:0px; 
  top:0px; 
  opacity: 0.6;
}

#blurb {
  margin-top: 245px;
}

#blurb_input {
  width: 100%;
  font-size: 18px;
  margin-top: 232px;
  background-color: transparent;
  color: white;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  color: #fdfdfd;
  letter-spacing: 2px;
}

body{
  background-color:#272b2e;
  width: 1200px;
  padding: 0;
  margin: 0;
}


h1{
  font-family: 'Oswald', sans-serif; 
  font-size: 45px;
  letter-spacing: 1px;
  color: #fdfdfd;

  margin: 100px 0px 0px 0px;
}

h2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  margin: 10px 0px 0px 0px;
  color: #fdfdfd;
  letter-spacing: 2px;
}

h3{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin: 5px 0px 0px 0px;
  color: #fdfdfd;
  letter-spacing: 2px;
}

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #fdfdfd;
  margin: 5px 0px 0px 0px;
  color: #fdfdfd;
  letter-spacing: 2px;
}

h5{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  color: #fdfdfd;
}

h6.find{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: #fdfdfd;
  margin: 0px 0px 0px 30px;
}


.gameinfo{
  margin: 30px 0px 0px 0px;
}


button{
  height: 33px;
  width: 85px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  color: white;
  background-color: #272b2e;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  margin: 15px 20px 10px 0px;
  float: right
}

.center{
  padding: 0;
  margin: 0;
  width: 600px;
  margin: 0 auto;
}

.line{
  height:2px;
  width: 900px;
  background-color: white;
  margin: 10px 0px 0px 0px;
}

ul {
  list-style-type: none;
}

label {
  display: inline-block;
  width: 5em;
  color: white;

}

#tabs {
  background-color: gray;
}

/*style for autocomplete to scroll and not take up so much space*/
.ui-autocomplete {
  max-height: 90px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
   * html .ui-autocomplete {
    height: 100px;
  }

  /*end of style for autocomplete*/

  /*style for tooltip that pops up helper word for search bar*/

  .ui-tooltip, .arrow:after {
    background: black;
    border: 1px solid white;
  }
  .ui-tooltip {
    padding: 5px 5px;
    color: white;
    border-radius: 1px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:8px;
    text-transform: uppercase;
    box-shadow: 1px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

  .input{
    outline: none;
  }

  a{
    text-decoration: none;
    color: white;
  }

  a:hover {  
    color: rgba(255,255,255,.5);
  }

  /*end of style for tooltip*/
